
  html * {
    font-size: 0.97em;
    color: #000;
  font-family: "Lucida Console", "Courier New", "monospace";
  }

  .notes {
    padding: 0px 0px 0px 0px;
  }
  header {
    padding: 10px 10px 10px 55px;
  }

  span:hover {
    cursor: pointer;
  }

  /***SEARCH***/
  .search {
    margin: 20px 0px;
    position: relative;
    line-height: 27px;
    font-size: 0.9em !important;
  }
  #search {
    width: 200px;
    line-height: normal;
  }
  #clear {
    padding: 1px 5px;
    display: inline-block;
    left: -30px;
    top: -1px;
    border: none;
    text-align: center;
    vertical-align: middle;
    position: relative;
    line-height: normal;
  }
  #clear::after {
    content: "x";
  }
  #clear:hover {
    border: 1px solid black;
    padding: 0px 4px;
  }
  .search span {
    padding: 2px 4px;
    border: 1px solid black;
    color: red;


  }
  .search span:hover {
    background: #ccc;
  }

a {
color: blue !important;
text-decoration: none;
}

  /***TIMELINE***/
  .mainline {
    border-left: 0px solid black;
    margin-right: 50px;
    padding-left: 50px;
    float: left;
  }

  h2 {
    margin: 0px 0px 0px 0px;
    text-indent: 15px;
    position: relative;
    left: -15px;
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  h3 {
    margin: 0px 0px 0px 0px;
    text-indent: 15px;
    position: relative;
    left: -15px;
    color: red;
    font-size: 1em;
    font-weight: bold;
  }
  h4 {
    border-top: 0px solid black;
    margin: 0px 0px 0px 0px;
    text-indent: 15px;
    padding-top: 0px;
    position: relative;
    left: -15px;
  }
  p {
    margin: 0px 0px 20px 0px;
    text-align: left;
  }


  .mainline span {
    padding: 0px 0px !important;
    border: 1px solid black !important;
    color: red !important;
    margin: 0px 0px 0px 0px !important;
    text-indent: 0px !important;
  }

  .mainline span:hover {
    background: #ccc;
  }

  .col {
  margin: 0px 0px 0px 0px;
}


.orc {
    width: 300px;
    height: 300px;
    background: url("images/orc1.png") no-repeat;
    background-size:contain;
    display: inline-block;
}
.orc:hover {
    background: url("images/orc2.png") no-repeat;
    background-size:contain;
}

#spinner {
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  transform-style: preserve-3d;
  text-align:right;
  display: inline;
  float: right;
  margin: 0px 100px 0px 0px;
  text-indent: 0px;
  position: relative;
  left: 0px;
  color: red;
  background-color: #FFFF00;
  font-size: 0.8em;
  font-weight: bold;
}
@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
